{% extends 'sistema_escuela/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{form.username.label_tag}}</td>
            <td>{{form.username}}</td>
        </tr>
        <tr>
            <td>{{form.password.label_tag}}</td>
            <td>{{form.password}}</td>
        </tr>
    </table>
    <button type="submit">Login</button>

</form>




{% comment %}

<form>
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" class="form-control" placeholder="Nombre de usuario">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endcomment %}
{% endblock %}