{% extends 'sistema_escuela/base.html' %}

{% load static %}

{% block content %}

<h2>Editar Alumno</h2>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Editar</button>
</form>

{% endblock %}