<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="modal-alumno-new">Nuevo Alumno</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body form-group">
                    <form id="form_new_alumno">
                        <input type="hidden" name="id" id="id">
            <p><label for="id_nombre_alumno">Nombre alumno:</label>
            <input type="text" name="nombre_alumno" class="form-control" placeholder="Nombre del Alumno" maxlength="100" id="id_nombre_alumno"></p>
            <p><label for="id_apellidos_alumno">Apellidos alumno:</label>
            <input type="text" name="apellidos_alumno" class="form-control" placeholder="Apellido" maxlength="100" id="id_apellidos_alumno"></p>
            <p><label for="id_fecha_nacimiento_alumno">Fecha nacimiento alumno:</label>
            <input type="text" name="fecha_nacimiento_alumno" class="form-control" placeholder="Fecha de nacimiento" id="id_fecha_nacimiento_alumno" autocomplete="off"></p>
            <p><label for="id_materia">Materia:</label>
            <select name="materia" class="js-states form-control" id="id_materia">
           </select></p>
            <p><label for="id_maestro">Maestro:</label>
            <select name="maestro" class="js-states form-control" id="id_maestro">

            </select>
            </p><button type="button" class="btn btn-primary" id="button-alumno-new-crear"><span class="glyphicon glyphicon-plus-sign"></span> Crear </button>

                        <button type="button" class="btn btn-danger" id="modal-alumno-new-close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>