{% extends 'sistema_escuela/base.html' %}
{% load static %}
{% block content %}
    <h2>Alumnos</h2>
{% include 'alumnado/alumno_new.html' %}
    <table id="datatables" class="table table-hover"><thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha</th>
            <th>Materia</th>
            <th>Maestro</th>
            <th>Edad</th>
            <th>Acciones</th>


        </tr>
        </thead>
    </table>

{% endblock %}

{% block js %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'js/csrftoken.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
    <script src="{% static 'alumnado/alumnos.js' %}"></script>
    <script>
        $(document).ready(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            var tabla_alumno = $('#datatables').DataTable({
                ajax: {
                    url: "{% url 'alumnado:alumno_api' %}",
                    dataSrc: ""
                },
                columns: [
                    {data: "id"},
                    {data: "nombre_alumno"},
                    {data: "apellidos_alumno"},
                    {data: "fecha_nacimiento_alumno"},
                    {data: "materia_name"},
                    {data: "maestro_name"},
                    {data: "age"}
                ],
                "createdRow": function (row, data, dataIndex) {
                    var delete_button = $('<button>').click(function () {
                        $.ajax({
                            url: '{% url "alumnado:alumno_api" %}',
                            dataType: "json",
                            type: 'delete',
                            data: {'id': data.id}
                        }).done(function (response) {
                            if (response.success) {
                                alert(response.message)
                            } else {
                                alert(response.error)
                            }
                        }).always(function () {
                            tabla_alumno.ajax.reload();
                        });
                    }).addClass('far fa-trash-alt').text('Eliminar');

                    var edit_button_modal = $('<button>').click(function () {
                        alumno_edit(data);
                    }).addClass('far fa-edit').text('Editar');

                    var td = $('<td>');
                    td.append(edit_button_modal, delete_button);
                    $(row).append(td);
                }
            });

            var fecha = $('#id_fecha_nacimiento_alumno').datepicker({
                    showOtherMonths: true,
                    dateFormat: 'yy-mm-dd',
                    changeYear: true,
                    yearRange: '1900:2100',
                    changeMonth: true
            });
            var materia_select2 = $('#id_materia').select2({
                    ajax: {
                        url: "{% url 'alumnado:materia_search_api' %}",
                        dataType: 'json',
                        type: "GET",
                        quietMillis: 50,
                        data: function (term) {
                            return {
                                term: term
                            };
                        },
                        processResults: function (data, params) {
                            console.log(data)
                            console.log(params)
                            return {
                                results: data
                            };
                        },
                        results: function (data) {
                            console.log(data)
                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.completeName,
                                        id: item.id
                                    }
                                })
                            };
                        }
                    },
                    width: '100%'
                });
            var maestro_select2 = $('#id_maestro').select2({
                    ajax: {
                        url: "{% url 'alumnado:maestro_search_api' %}",
                        dataType: 'json',
                        type: "GET",
                        quietMillis: 50,
                        data: function (term) {
                            return {
                                term: term
                            };
                        },
                        processResults: function (data, params) {
                            console.log(data)
                            console.log(params)
                            return {
                                results: data
                            };
                        },
                        results: function (data) {
                            console.log(data)
                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.completeName,
                                        id: item.id
                                    }
                                })
                            };
                        }
                    },
                    width: '100%'
                });

            var alumno_edit = function(data){
                console.log(data);
                limpiar();
                $('#id').val(data.id);
                $('#id_nombre_alumno').val(data.nombre_alumno);
                $('#id_apellidos_alumno').val(data.apellidos_alumno);
                $('#id_fecha_nacimiento_alumno').datepicker('setDate', data.fecha_nacimiento_alumno);
                var materia_select = $('#id_materia');
                materia_select.children().remove();
                var option_materia = $('<option>').text(data.materia_json.text).val(data.materia_json.id);
                materia_select.append(option_materia);
                materia_select.val(data.materia).trigger('change');
                var maestro_select = $('#id_maestro');
                maestro_select.children().remove();
                var opcion_maestro = $('<option>').text(data.maestro_json.text).val(data.maestro_json.id);
                maestro_select.append(opcion_maestro);
                maestro_select.val(data.maestro).trigger('change');
                $('#myModal').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            };

            $('#modal-alumno-new').click(function () {
                limpiar();
                $('#myModal').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            var limpiar = function () {
                $('#id').val(0);
                $('#id_nombre_alumno').val('');
                $('#id_apellidos_alumno').val('');
                $('#id_fecha_nacimiento_alumno').datepicker('setDate', 'today');
                $('#id_materia').val(null).trigger('change');
                $('#id_maestro').val(null).trigger('change');
            };


            $('#modal-alumno-new-close').click(function () {
                $('#myModal').modal('hide')
            });


            var config = {
                url_post_nuevo_alumno: '{% url "alumnado:alumno_api" %}',
                tabla: tabla_alumno
            };
            var alumnos = new Alumnos();
            alumnos.init(config);

        });
    </script>

{% endblock js %}