{% extends 'sistema_escuela/base.html' %}


{% block content %}

<h1>Bienvenido a Alumnado</h1>

<ul>
    <li><a href="#">Alumnos</a></li>
    <li><a href="#">Materias</a></li>
    <li><a href="#">Maestros</a></li>
</ul>

{% endblock %}