<html lang="en">
{% load static %}

<head>
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

  

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Sistema Escuela{% endblock %}</title>
</head>

<body>
<!--  <nav>-->
<!--        <a href="{% url 'alumnado:alumnado_vista' %}">Inicio</a>-->
<!--        <a href="{% url 'alumnado:alumno_lista' %}">Alumnado</a>-->
<!--        <a href="#">Registrar</a>-->
<!--        <a href="{% url 'login' %}">Entrar</a>-->
<!--    </nav>-->
  {% block sidebar %}
  <nav class="navbar navbar-expand-lg class=" navbar navbar-light" style="background-color: #D3F1EF;">
    <a class="navbar-brand" href="{% url 'alumnado:alumnado_vista' %}"><span class="glyphicon glyphicon-home"></span> Inicio</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'alumnado:alumno_lista' %}"><span class="
glyphicon glyphicon-list-alt"></span> Lista Alumnos<span
            class="sr-only">(current)</span></a>
<!--        <a class="nav-item nav-link" href="#"><span class="glyphicon glyphicon-home"></span> Registrar</a>-->
<!--        <a class="nav-item nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-home"></span> Entrar</a>-->
      </div>
    </div>


    {% if user.is_authenticated %}
    Hola {{ user.username }}!
    <p><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-circle-arrow-left"></span> Logout</a></p>
    {% else %}
    <p></p>
    <a href="{% url 'login' %}"><span class="glyphicon glyphicon-circle-arrow-right"></span> Login</a>
    {% endif %}
  </nav>
  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/app.js' %}"></script>


  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% block js %}
{% endblock js %}
  <script>
    $(document).ready(function () {
      $('#datatables').DataTable();
    });
  </script>
</body>

</html>