{% extends 'sistema_escuela/base.html' %}


<title>{% block title %}Sistema Escuela - Inicio{% endblock %}</title>


{% block content %}

<!-- {% if user.is_authenticated %}
Hola {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<p>No estas Logeado</p>
<a href="{% url 'login' %}">login</a>
{% endif %} -->

<h1> Hola desde Home.Html</h1>
<p>Pellentesque pulvinar placerat tortor vitae malesuada. Mauris id mauris consectetur, bibendum quam eget, pulvinar
    ligula. In lobortis metus neque, rutrum laoreet orci consectetur sit amet. Ut tincidunt, justo at tincidunt
    ultrices, urna orci dignissim elit, eu egestas turpis augue id turpis. Ut quis blandit tellus. Sed posuere, elit ut
    porttitor ultricies, mi dui bibendum ipsum, eu fringilla libero orci ac lectus. Sed vel urna non mi pulvinar
    tincidunt. Nunc vitae lorem nec diam luctus facilisis nec ut justo. Mauris eget mauris consequat, vestibulum lorem
    ut, condimentum mi.</p>


{% endblock %}